.row {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: -1;
}
.sidebar {
  width: 70px;
  float: left;
  background: #144e4a;
  z-index: 1000;
  min-height: 100vh;
}

.Deal_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 3%; */
}
.mui_table {
  width: 91%;
  margin-left: 7%;
  border-radius: 10px;
}
.arrow_btn {
  cursor: pointer;
  color: #4a8b87;
}
.notification {
  color: #4a8b87;
  margin-right: 1rem;
  cursor: pointer;
}
.logout_btn {
  width: 2rem;
  border-radius: 50%;
  height: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: red;
  padding: 0rem;
  margin-bottom: 2%;
  cursor: pointer;
  position: relative;
}
.logout_btn p {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  margin: 0;
  color: #f1f1f1;
  margin-top: -2px;
  /* font-size: 20px; */
  /* left: 0.6rem;
  top: -12px; */
}
.expandicon {
  color: #4a8b87;
  cursor: pointer;
}
.user_btn {
  padding: 1rem;
  width: 9rem;
  margin-top: 1rem;
  border-radius: 10px;
  border: 0.5px solid black;
  cursor: pointer;
  margin-left: -7rem;
  list-style: none;
  background-color: #fff;
  
}
.main_container{
  position: absolute;
  display: flex;
  align-items: space-evenly;
  justify-content: center;
  width: 90%;
  height: 100%;
  flex-direction: column;
  margin-left: 6rem;
  gap: 1.5rem;
}
